.title {
  border: 1px solid purple;
}

.characterInput {
  border: 1px solid red;
}

.center {
  text-align: center;
}

.jumbotron {
  width: 100%;
}

.cardImage {
  height: 300px;
  width: 250px;
}

#createCharacterContainer {
  display: none;
}

#cardsInfo {
  display:none;
}